*{
   box-sizing: border-box;
}
.figure{

   max-width:300px;
   margin:40px auto 0;

}
.error-box{
   max-width: 600px;
   height: 400px;
   padding: 0  20px  ;
   margin: auto;
   text-align: center;
   font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana,    "lucida sans unicode", tahoma, sans-serif;
   color:  rgba(0,0,0,0.75);
   line-height: 36px;

}

.primaryHeader h1{
   font-size: 38px;
   margin:10px 0 ;
   font-weight: lighter;
}
.text{
   font-size: 21px;
   
}
.nav-box{
   line-height: 32px;
   margin: 38px 0;
   text-align: center;
   font-size: 14px;
}
.nav-box p{
   margin: 0 0 0 0;
}
.nav-box ul{
   margin: 0 0 0 0;
   list-style: none
   
   

}
.nav-box ul a{
   text-decoration: none; 
}
.nav-box .ul{
   padding: 0;
}
